#  Local .terraform directories
**/.terraform/*
.terraform/
**/test
create_sa/

# .tfstate files
*.tfstate
*.tfstate.*
*.DS_Store

# .tfvars files
*.tfvars

# Secret files
**/test.tf
**/secret/*.json
**/secret/*.tfvars
**/*.tfplan
**/next-step.txt
